*{
    margin:0;
    padding:0;

}
.sec{
    
	position:relative;
    margin:5px auto;
    height:50px;
    padding:10px;
    background:#fff;
    box-sizing:border-box;
    border-radius:4px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
	
}
.logo{
	height:30px;
    width:100px;
    float:left;
}
.f{
    display:flex;
    width:10px;
    height:10px;
    padding:10px;
}
nav ul{
	list-style: none;
		display: flex;
	flex-flow:row wrap;
	margin:0;
    padding:0;
    float:right;
    color:#424242;
}
nav ul li a {
      display:flex;
    margin:5px 0;
    padding:5px 20px;
    color:#424242;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
	
    
}
nav ul li a.apply {
	background-color: tomato;
    color:#fff;
    width:45px;
    text-align:center;
  
}
@media(max-width:1150px){
nav ul {
	position: relative;
    display: flex;
    flex-flow: row wrap;
	padding-left:80px ;
}.sec{
	margin:10px auto;
    height:100px;
    padding:20px;
	
}
.logo{
	position:absolute;
	height:50px;
    width:65px;
    float:left;
}

nav ul li a{
    padding:2px 10px;
	margin: 2px 0.5px;
	
}
}

@media(max-width:992px){
	.sec{
		margin:12px auto;
		height:110px;
		padding:22px;
		
	}
	.logo{
		height:55px;
		width:60px;
		float:left;
	}
	nav ul{
		position: relative;
		display: flex;
		flex-flow: row wrap;
	}
	nav ul li a{
		padding:1px 5px;
		margin: 1px 0.6px;
	}
	}
@media(max-width:692px){
		.sec{
			margin:12px auto;
			height:110px;
			padding:22px;
			
		}
		.logo{
			height:55px;
			width:60px;
			float:left;
		}
		nav ul{
			position: relative;
			display: flex;
			flex-flow: row wrap;
		}
		nav ul li a{
			padding:0.5px 2.5px;
			margin: 0.5px 0.8px;
			
		}
		}
		@media(max-width:352px){
			.sec{
				margin:12px auto;
				height:190px;
				padding:22px;
				
			}
			.logo{
				height:55px;
				width:60px;
				float:left;
			}
			nav ul{
				position: relative;
				display: flex;
				flex-flow: row wrap;
			}
			nav ul li a{
				padding:0.5px 2.5px;
				margin: 0.5px 0.8px;
				
			}
			}
		
    .bimg{
			
			height: 80vh;
			width: 100%;
			background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url('image.jpeg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
	.cont h1{
			width:60%;
			padding:6%;
			font-size:5em;
			font-weight:300;
			display: block;
			font-family: 'Roboto', sans-serif;
			color:#fff;
		}
	.cont h3{
	color:#fff;
    font-size:2rem;
    margin-top:-5%;
    padding-left:6%;
    
		}
	.cont .btn1{
		display:block;
    margin-top:1%;
    margin-left:6%;
    width:10%;
    height:5vh;
    background-color: #4992ca;
    border:none;
    font-size: 12px;
    color:#fff;
    text-align:center;
	}
	.cont .btn2{
    display:block;
    margin-top:1%;
    margin-left:6%;
    width:10%;
    height:5vh;
    background-color:#0000;
    border-radius:2px;
    border-style:solid;
    font-size: 12px;
    color:white;
	border-color: #fff;
    text-align:center;
	}
	.cont .btn3{
	display:inline-block;
    margin-top:1%;
    margin-left:6%;
    width:30%;
    height:6vh;
    background-color:#fff;
    border-radius:15px;
    border-style:hidden #fff;
    font-size: 13px;
    font-weight:500;
    color:#000;
	font-size:95%;
    text-align:center;
	}
	@media (max-width:950px){
		.bimg{
			width:100%;
			height:100vh;
			
		}
		.cont .btn1{
			width:30%;
			height:4vh
		}
		.cont .btn2{
			width:30%;
			height:4vh
		}
		.cont .btn3{
			width: 60%;
			height:5.5vh;
			
		}
	}
	
	#pocket{
		height:85vh;
		width: 100%;
		background-color: #4992ca;
	}
	#what h2{
		color:#fff;
		font-size:5vh;
		font-weight:400;
		font-family: 'Roboto', sans-serif;
		text-align:center;
		padding: 10px;
	}
	#what p{
		color:#fff;
		font-size:2vh;
		text-align:center;
		line-height:24px;
		white-space: pre-line;
	}
	#type{
		margin:50px;
		height:40vh;
		display:grid;
		column-gap: 15px;
		grid-template-columns: repeat(3,0.23fr);
		grid-template-rows:repeat(3,0.2fr) ;
		justify-content: center;
	}
	#water,#fire,#grass{
		display: grid;
		row-gap: 30px;;
		grid-template-rows: repeat(3,0.2fr);
		text-align: center;
		justify-content: center;
		color:#fff;
	}
	@media(max-width:900px){
		#pocket {
			height:160vh;
			width:100%;
		}
		#type {
			grid-template-columns: 1fr;
			grid-gap:20px; 
		} 
	 }
	 
	 .stats{
		width:100%;
		height:80vh;
		justify-content: center;
	 }
	 .stat-h{
		margin:15px auto;
		text-align: center;
		font-size:45px;
	 }
	 .stat-cont{
		margin:4px;
		display: grid;
		column-gap:8vw;
		justify-content: center;
		grid-template-columns: repeat(2, 0.25fr);
		grid-template-rows: repeat(1, 0.5fr);
	 }
	 .stat1,.stat2{
		display:grid;
		text-align: center;
		justify-content: space-between;
		grid-template-rows: repeat(3,0.22fr);
		row-gap:30px;
	 }
	 .stat-cont h3{
		font-size: 25px;
	 }
	 @media(max-width:900px){
		.stats{
			width:100%;
			height:160vh;
		}
		.stat-cont{
			grid-template-columns: 0.25fr;
			grid-gap:20px;
		}
	 }
	 
	 .yearsec{
		width:100%;
		display: flex;
		align-items: center;
		justify-content: center;
	 }
	 .yearcont{
		width: 75%;
		margin: auto;
	 }
	 .yearcont h4{
		font-size: 30px;
		color: black;
		text-align: center;
	 }
	 .poke{
		width: 100%;
		display: flex;
		color:gray;
	 }
	 .poke > .col1,
	 .poke > .col2{
		width: 20%;
	 }
	 .poke > .col3{
		 width: 60%;
	 }
	 .poke > div >.poke-img{
		width: 100%;	
		border-radius: 50%;
		height: 250px
	 }
	 .col2 {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	  }
	  .col2 > h4 {
		font-size: 30px;
		font-weight: 100;
		color:#8f8f91;
	  }
	 .poke-img1{
		width:50%;
	 }
	 .col2 > h6 {
		font-size: 18px;
		font-weight: 100;
	  }
	  .col3 {
		display: flex;
		justify-content: center;
		align-items: center;
	  }
	  @media screen and (max-width: 806px) {
		.yearsec {
		  width: 100%;
		}
		.yearcont {
		  width: 100%;
		}
		.poke {
		  width: 100%;
		  display: flex;
	  
		  flex-direction: column;
		}
		.poke> .col1,
		.poke > .col2,
		.poke > .col3 {
		  width: 100%;
		  margin-top: 10px;
		}
		.poke > div > .poke-img {
		  width: 50%;
		  object-fit: contain;
		  border-radius: 50%;
		  height: 150px;
		  margin: auto;
		}
		.col1 {
		  text-align: center;
		}
		.pokemon_logo {
		  width: 20%;
		}
	  }
	
	   .qna{
		width:100%;
		height:80vh;
		background-color: #4992ca;
		justify-content: center;;  
	   }
	   .box h2{
		font-size:45px;
		font-weight:200;
		color:#fff;
		font-family: 'Roboto', sans-serif;
		padding-top:30px;
		text-align: center
	   }
	   .box h4{
		font-size: 3vh;
		font-weight:100;
		padding-left:15%;
		padding-top:2%;
		color:#fff;
	   }
	   .qna-b ol li{
		   color:#fff;
	   }
	   .qna-b ul li{
		margin-left:20%;
		font-size:1em;
		font-weight:50;
		color:#fff;
		width:100vh;
		height:10vh;
	   }
	   @media(max-width:900px){
		.qna{
			width:100%;
			height:105vh;
		}
		 .box ul li {
			margin-left:5%;
			width:95%;
			height:100%; 
			
		} 
		.box ol li{
			margin-top:5%;
			margin-right:5%;
			
		}
	 }
	 
.battle{
		width:100%;
		
	 }
	 .battle-cont{
		width: 75%;
  margin: auto;
  text-align: center; 
	 }
	 .battle-cont > h2{
		font-size: 45px;
		color: black;
		margin-top: 20px;
	 }
	 .battle-cont >h3{
		color: black;
		font-size: 16px;
		margin-top: 15px;
	  }
	 
	 .dcont{
		width: 100%;
  margin-top: 45px;
  display: flex;
	 }
	 .dcont-h{
		 width: 30%;
	 }
	 .dcont-h > h4 {
		font-size: 14px;
		color: black;
		text-align: start;
		margin-top: 20px;
		padding: 6px;
	  }
	  .dcont-h > p {
		text-align: start;
		margin-top: 15px;
		margin-bottom: 10px;
		padding: 6px;
	  }
	.tb{
		width: 70%;
	}
	table{
		width: 100%;
  border: 1px solid #8a8a8a;
  color: #8a8a8a;
  border-collapse: collapse;
  margin-bottom: 10px;
	}
	.tb > p{
		color: #000;
	}
	td,
th {
  border: 1px solid #8a8a8a;
  padding: 10px;
}
.tb-h{
	color: #000;
}
.book{
	color: #4992ca;
	margin-top: 10px;
	font-size: 18px;
	margin-bottom: 10px;
}
.buy-btn{
	width: 200px;
	height: 35px;
	color: white;
	background-color: #4992ca;
	border: none;
	font-weight: 500;
	margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
	.battle-cont {
	  width: 100%;
	  padding: 3px;
	}
	.dcont {
	  flex-direction: column;
	}
	.dcont-h {
	  width: 100%;
	}
	.tb {
	  width: 100%;
	}
	td,
	th {
	  padding: 3px;
	}
  }
  
  @media screen and (max-width: 768px) {
	td,
	th {
	  padding: 0px;
	}
  }
  .know{
	width: 100%;
	background-color: #424242;
	color: white;
  }
  .more{
	width: 75%;
	margin: auto;
	text-align: center; 
  }
  .more > h2{
    font-size: 45px;
  margin-top: 15px;
  margin-bottom: 10px;
  }
  .more > button{
	background: transparent;
	background-color: #0000;
	border: 2px solid #fff;
	color: white;
	width: 180px;
	height: 40px;
	margin-bottom: 45px;
	text-align: center;
  }
  @media  (max-width: 768px) {
	.more > h2 {
	  font-size: 25px;
	  margin-top: 10px;
	  margin-bottom: 5px;
	}
  }
  
  .card-cont{
	  width: 100%;
  }
.card{
	width: 75%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #7f8c8d;
}
.card >h1{
	margin-top: 20px;
	margin-bottom: 10px
}
.dcard{
	height: 310px;
	width: 250px;
	border-top: 15px solid #4992ca;
	border-bottom: 1px solid #8a8a8a;
	border-left: 1px solid #8a8a8a;
	border-right: 1px solid #8a8a8a;
	margin-bottom: 15px;
  }
  .dcard-cont{
	width: 100%;
	height: 60%;
	border-bottom: 1px solid #7f8c8d;
	background-color: rgb(240, 233, 233);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center
  }
  .dcard-cont >img{
	  object-fit: contain;
  }
  .pcont{
	text-align: center;
	margin-top: 15px;
	color: black;
  }
  .dcard-cont > h3{
	font-weight: 100; 
  }
  .dcard-cont > h4{
	color: black;
  margin-bottom: 4px;  
  }
  
  .trsec{
	width: 100%;
	background-color: #4992ca;
	color: white;
  }
  .tra{
	width: 75%;
	margin: auto;
	font-family: Avenir-Next, Roboto, sans-serif;
  }
  .tra >h4{
	font-size: 30px;
	margin-top: 15px;
	margin-bottom: 10px;
	text-align: center;  
  }
  .trow1,.trow2,.trow3,.trow4{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  }
  .tcol1{
	  text-align: center;
  }
  
  .timg1,.tcol1>img{
  border-radius: 50%;
  object-fit: contain;
  height: 150px;
  width: 200px;  
  }
  .timg{
	width: 120px;
	height: 100px;
	object-fit: contain; 
  }
  .tcol3{
	  width: 50%;
  }
  .tcol2>h4{
	font-weight: 100;
	font-size: 30px; 
  }
  .tcol2 > h6{
	font-size: 18px;
  font-weight: 100;  
  }
  
  
  @media(max-width: 1165px) {
	.trow1,.trow2,.trow3,.trow4 {
	  width: 100%;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  margin-top: 10px;
	  margin-bottom: 10px;
	}
  }

  .gencont{
	  width: 100%;
  }
  .gen{
	width: 75%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 10px;
  }
  .gencard{
	width: 40%;
	height: 440px;
	margin: auto;
	margin-bottom: 10px;
	border-top: 15px solid #4992ca;
	border-left: 1px solid #7f8c8d;
	border-right: 1px solid #7f8c8d;
	border-bottom: 1px solid #7f8c8d;
  }
  .gencont >h2{
	font-size: 45px;
	text-align: center;
	margin-top: 10px;
	color: gray;
  }
  .hd{
	width: 100%;
	height: 25%;
	border-bottom: 1px solid #7f8c8d;
	background-color: #dddddd;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: black;
  }
  .hd >h4{
	margin-left: 10px;
	margin-top: 10px;
	font-size: 24px;  
  }
  .hd >h6{
	font-size: 18px;
	margin-left: 10px;
	font-weight: 100;
	margin-bottom: 30px;
  }
  .bd{
	width: 100%;
	height: 75%;
	color: black 
  }
  .bd>p{
	padding: 4px; 
  }
  @media screen and (max-width: 1007px) {
	.bd {
	  height: 85%;
	}
	.hd {
	  height: 15%;
	}
	.bd > p {
	  font-size: 15px;
	}
  }
  @media screen and (max-width: 795px) {
	.bd > p {
	  font-size: 12px;
	}
	.hd > h4 {
	  margin-left: unset;
	  margin-top: unset;
	  font-size: 18px;
	}
	.hd > h6 {
	  font-size: 12px;
	  margin-left: unset;
	  font-weight: 100;
	  margin-bottom: unset;
	}
  }
  @media (max-width: 563px) {
	.gen {
	  flex-wrap: unset;
	  flex-direction: column;
	}
	.gencard {
	  width: 100%;
	  height: 300px;
	}
	.gencont > h2 {
	  font-size: 20px;
	}
  }
  
  .insec{
	width: 100%;
	background-color: #424242; 
  }
  .incont{
	width: 75%;
	margin: auto;
	text-align: center;
	color: white;
  }
  .incont>h2{
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 10px;  
  }
  .in{
	width: 60%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
	margin-top: 20px; 
  }
  .in>input{
	outline: none;
	height: 40px;
	width: 63%;  
  }
  .in>button{
	border: 2px solid #fff;
	background-color: #0000;
	background: transparent;
	color: white;
	height: 40px;
	width: 35%;
  }
  @media (max-width: 425px) {
	.incont > h2 {
	  font-size: 20px;
	  margin-top: 10px;
	  margin-bottom: 50px;
	}
  }
  
  .gmsec{
	  width: 100%;
  }
  .gmcont{
	width: 75%;
	margin: auto;
	text-align: center;  
  }
  .gmcont>h1{
	margin-top: 20px;
	margin-bottom: 15px; 
	color: gray;
	font-size: 40px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .gmimg{
	width: 150px;
  height: 200px;
  object-fit: contain;  
  }
  .gmrow{
	width: 100%;
	display: flex;  
  }
  .gmcol{
	width: 33.3%;
	color: black;
  }
  .gmcol >p{
	margin-top: 15px;
	margin-bottom: 15px;
  }
  .gmbtn{
	background-color: #4992ca;
	color: white;
	border: none;
	width: 160px;
	height: 40px;
	margin-bottom: 20px;
  }
  @media(max-width: 768px) {
	.gmrow {
	  flex-direction: column;
	}
	.gmcol {
	  width: 100%;
	  color: black;
	}
  }
  
  .desec{
	width: 100%;
	background-color: #4992ca; 
  }
  .decont{
	width: 75%;
  margin: auto;
  text-align: center;
  color: white;  
  }
  .decont>h1{
	color: white;
	margin-top: 20px;
	margin-bottom: 15px;
  }
  .derow{
	width: 100%;
	display: flex;
	margin-top: 10px;
	margin-bottom: 20px;
  }
  .decol{
	width: 33.3%;
  }
  .deimg{
	border-radius: 50%;
	width: 150px;
	height: 150px;
  }
  .gmcol>h4{
	font-size: 30px;
  font-weight: 100  
  }
  .decol>h6{
	font-weight: 100;
	font-size: 18px;
	margin-top: 5px;
	margin-bottom: 5px;
  }
  @media (max-width: 768px) {
	.derow {
	  flex-direction: column;
	}
	.decol {
	  width: 100%;
	  margin-top: 20px;
	}
  }
  
  .losec{
	  width: 100%;
  }
  .locont{
	width: 75%;
	margin: auto;
	text-align: center;
	margin-top: 20px;  
  }
  .locont>h1{
	  color:gray;
	  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	  font-size: 40px;
  }
  .locont>p{
	color:gray;
	margin-top: 10px;
	margin-bottom: 10px 
  }
  .lorow{
	width: 100%;
	display: flex;
  }
  .locol{
	width: 33.3%; 
  }
  .loimg{
	height: 100px;
	width: 150px;
	object-fit: contain;
  }
  @media (max-width: 768px) {
	.lorow {
	  flex-direction: column;
	}
	.locol {
	  width: 100%;
	}
  }
  
  .knsec{
	width: 100%;
	background-color: #4992ca;
	color: white;
	
  }
  .kncont{
	width: 75%;
	margin: auto;
	text-align: center;
  }
  .kncont>h1{
	margin-top: 20px;
  margin-bottom: 15px;  
  }
  .kncont>button{
	background: transparent;
	width: 160px;
	height: 50px;
	margin-bottom: 20px;
	border: 2px solid white;
	color: white;
  }
  
  .fsec{
	width: 100%;
  background-color: rgb(1, 1, 14);
  color: white;  
  }
  .fcont{
	width: 75%;
	margin: auto;
	display: flex;
	margin-top: 30px;
	margin-bottom: 30px;
	justify-content: space-evenly;  
  }
  .fcol{
	text-align: center;
	display: flex;
	flex-direction: column; 
  }
  .fcol>a,.fit>a{
	text-decoration: none;
	color: #fff;
	margin-top: 5px;
	margin-bottom: 5px;
  }
  .fit{
	display: flex;
	width: 60%;
	margin: auto;
	align-items: center;
	justify-content: space-between;
  }
  @media(max-width: 768px) {
	.fcont {
	  width: 75%;
  
	  display: flex;
	  margin-top: 20px;
	  margin-bottom: 20px;
	  flex-direction: column;
	}
	.fcol {
	  width: 100%;
	  text-align: center;
	}
   
  }